$red:   #C0392B;
$darkred: #783E3E;
$gray:  #7F8C8D;

@import "compass/reset";

header {
  background-color: $red;
  font-weight: 300;

  h1 {
    color: white;
  }
}

body {
  font-family: 'Open Sans', sans-serif;
  -webkit-font-smoothing: antialiased;
  background-color: white;
}

.container-fluid {
  max-width: 730px;
}

::selection {
  background: $gray;
  color: white;
}
::-moz-selection {
  background: $gray;
  color: white;
}

div {
  padding: 12px 0;
}

p {
  font-size: 1.3em;
}

abbr {
  font-variant: small-caps;
}

h1, h2, h3, h4 {
  color: $red;
  margin: 10px 0;
}

h1 {
  font-size: 6.5em;
}

h2 {
  font-size: 3.5em;
}

h3 {
  font-size: 2.5em;
}

h4 {
  font-size: 1.5em;
}

h5 {
  font-size: 1.3em;
}

a {
  font-size: 1.3em;
  color: $gray;

  &:hover {
    color: $red;
  }
}

.social {
  float: left;
  overflow: hidden;
  text-decoration: none;
  text-transform: uppercase;
  font-weight: bold;
  font-size: 1em;
  width: 30px;
  height: 30px;

  &:hover {
    color: white;
    text-decoration: none;
  }
}

.description {
  line-height: 30px;
  padding: 0 6px;
}

.red {
  color: $darkred;
  font-size: 2em;
  font-weight: bold;
}

.icon {
  background: url("../images/sprites.png") no-repeat;
  float: left;
  height: 30px;
  width: 30px;

  &#github {
    background-position: 0 0;
  }
  &#stackoverflow {
    background-position: -30px 0;
  }
  &#linkedin {
    background-position: -60px 0;
  }
  &#facebook {
    background-position: -90px 0;
  }
  &#twitter {
    background-position: -120px 0;
  }
  &#googleplus {
    background-position: -150px 0;
  }
  &#lastfm {
    background-position: -180px 0;
  }
  &#email {
    background-position: -210px 0;
  }
}

#github {
  background-color: black;
}

#stackoverflow {
  background-color: white;
  color: #848484;
  font-size: 0.7em;
}

#linkedin {
  background-color: #0072B1;
}

#facebook {
  background-color: #3B5998;
}

#twitter {
  background-color: #00ACED;
}

#googleplus {
  background-color: #D64136;
}

#lastfm {
  background-color: #C02A2A;
}

#email {
  background-color: white;
  color: #336DD0;
}
