$red:   #C0392B;
$darkred: #783E3E;
$gray:  #7F8C8D;
$lightgray: #C7C7C7;

@import "compass/reset";

header {
  background-color: $red;
  font-weight: 300;
  text-align: center;

  h1 {
    color: white;
  }
  i {
    color: white;
    &:hover {
      color: $lightgray;
    }
  }
}

body {
  font-family: 'Open Sans', sans-serif;
  -webkit-font-smoothing: antialiased;
  background-color: white;
}

.container-fluid {
  max-width: 730px;
}

::selection {
  background: $gray;
  color: white;
}
::-moz-selection {
  background: $gray;
  color: white;
}

div {
  padding: 12px 0;
}

p {
  font-size: 1.3em;
}

abbr {
  font-variant: small-caps;
}

h1, h2, h3, h4 {
  color: $red;
  margin: 10px 0;
}

h1 {
  font-size: 6.5em;
}

h2 {
  font-size: 3.5em;
}

h3 {
  font-size: 2.5em;
}

h4 {
  font-size: 1.5em;
}

h5 {
  font-size: 1.3em;
}

a {
  font-size: 1.3em;
  color: $gray;

  &:hover {
    color: $red;
  }
}

.red {
  color: $darkred;
  font-size: 2em;
  font-weight: bold;
}

