body {
    font-family: 'Montserrat', sans-serif;
    -webkit-font-smoothing: antialiased;
    color: rgba(255, 255, 255, 0.8);
    background-color: #34495e;
    background-repeat: no-repeat;

    background-size: cover;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    height: 100%;
    width: 100%;
    margin: auto;
}

::selection {
    background: #CCCCCC;
    color: #FFFFFF;
}

::-moz-selection {
    background: #CCCCCC;
    color: #FFFFFF;
}

#header {
    color: #FFFFFF;
    background-color: #c0392b;
    width: 100%;
    margin: 0 0;
    padding: 0 0;
}

.section {
    display: block;
    margin: 0;
    padding: 0;
}

.content {
    overflow: hidden;
    display: block;
    position: relative;
    min-width: 350px;
    margin: 0 0 0 200px;
    padding: 25px;
}

.red {
    color: #783E3E;
    font-size: 2em;
    font-weight: bold;
}

div {
    padding: 25px 0 0 0;
}

p {
    font-size: 1.3em;
    margin: 0;
    padding: 0;
}

abbr {
    font-variant: small-caps;
}

::-moz-selection {
    background: #006E50;
}

h1, h2, h3, h4 {
    color: #FFFFFF;
    margin: 0;
    padding: 0;
}

h1 {
    font-size: 6.5em;
}

h2 {
    font-size: 3.5em;
}

h3 {
    font-size: 2.5em;
}

h4 {
    font-size: 1.5em;
}

td {
    font-size: 1.2em;
    padding: 10px;
}

a {
    font-size: 1.3em;
    color: #FFFFFF;
}

#info {
    padding: 16px 0;
    background-color: #e74c3c;
}

#employment {
    padding: 16px 0;
    background-color: #7f8c8d;
}

#links {
    padding: 16px 0;
    background-color: #34495e;
}

.social {
    float: left;
    overflow: hidden;
    text-decoration: none;
    text-transform: uppercase;
    font-weight: bold;
    color: white;
    font-size: 1em;
    width: 30px;
    height: 30px;
}

.description {
    position: relative;
    line-height: 30px;
    height: 30px;
    padding: 0 6px;
}

.icon {
    background: url("images/sprites.png") no-repeat;
    float: left;
    height: 30px;
    width: 30px;
}

#github {
    background-color: #000000;
}

.icon#github {
    background-position: 0 0;
}

#stackoverflow {
    background-color: #ffffff;
    color: #848484;
    font-size: 0.7em;
}

.icon#stackoverflow {
    background-position: -30px 0;
}

#linkedin {
    background-color: #0072B1;
}

.icon#linkedin {
    background-position: -60px 0;
}

#facebook {
    background-color: #3B5998;
}

.icon#facebook {
    background-position: -90px 0;
}

#twitter {
    background-color: #00ACED;
}

.icon#twitter {
    background-position: -120px 0;
}

#lastfm {
    background-color: #C02A2A;
}

#googleplus {
    background-color: #D64136;
}

.icon#googleplus {
    background-position: -150px 0;
}

.icon#lastfm {
    background-position: -180px 0;
}

#email {
    color: #FFFFFF;
    font-size: 1.6em;
    font-weight: bold;
    text-decoration: none;
}
